@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@layer utilities {
  .shadow-gold {
    box-shadow: 4px 4px 40px 5px #dda84d33;
    transition: 0.3s linear;
  }

  .process-card {
    transition: 0.3s linear;
  }

  .process-card:hover {
    box-shadow: 4px 4px 40px 0px #011e4133;
  }

  .services-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .services-single-text {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .news-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card {
    outline: 1px solid #d5ba8c;
  }

  .border-card {
    outline: 1px solid #011e41;
  }

  .border-card:hover {
    outline: none;
  }

  .download {
    outline: 1px solid #011e41;
  }

  .related-card {
    outline: 1px solid #011e41;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d5ba8c;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #011e41;
  }
}
@media screen and (min-width: 1999px) {
  .burger-hide {
    display: none;
  }
}

@media screen and (max-width: 1999px) {
  .burger-hide {
    display: none;
  }
}
