@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@layer utilities {
  .shadow-gold {
    box-shadow: 4px 4px 40px 5px #dda84d33;
    transition: 0.3s linear;
  }

  .shadow-gold:hover {
    transform: scale(1.03);
  }

  .process-card {
    transition: 0.3s linear;
  }

  .process-card:hover {
    box-shadow: 4px 4px 40px 0px #011e4133;
  }

  .services-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card {
    outline: 1px solid #d5ba8c;
  }
}
